@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}



/*-----------------------------------------------Title */
.title {
  width: 100%;
  padding: 0;
  margin: 0;
}

.st0 {
  fill:#5c6776;
  }

.st1 {
  fill:#cacdd5;
  }

.st2 {
  fill:none;
  }

/*-----------------------------------------------biglock */
.biglock {
  width: 100%;
  padding: 0;
  margin: 0;
}

.st0 {
  clip-path:url(#SVGID_2_);
  fill:#f7af7f;
  }

.st1 {
  clip-path:url(#SVGID_2_);
  fill:#fdeadd;
  }

.st2 {
  clip-path:url(#SVGID_2_);
  fill:#facaaa;
  }

.st3 {
  fill:#a55219;}

.st4 {
  fill:#7998b1;
  }

.st5 {
  fill:#f27a2a;
  }

.st6 {
  fill:#d86c23;
  }

.st7 {
  fill:#f59555;
  }

  .st8 {
    fill:#f7af7f;
  }

.st9 {
  fill:#facaaa;
    }

    .st10 {
      fill:#fdeadd;
    }

    .st11 {
      fill:none;stroke:#7998b1;
      stroke-width:3.9929;
      stroke-miterlimit:10;
    }

    .st12 {
      clip-path:url(#SVGID_4_);
      fill:#f59555;
    }

    .st13 {
      clip-path:url(#SVGID_4_);
      fill:#ff812c;
    }

    .st14 {
      clip-path:url(#SVGID_4_);
      fill:#d86c23;
    }

    .st15 {
      clip-path:url(#SVGID_4_);
      fill: #a55219;
    }

    .st16 {
      fill: none;
      stroke: #7998b1;
      troke-width: 2;
      stroke-miterlimit: 10;
    }

/*-----------------------------------------------lineup */
.lineup {
  width: 100%;
  padding: 0;
  margin: 0;
}

.st0 {
  fill: #F59555;
  }

.st1 {
  fill:#7998B1;
  }

.st2 {
  fill:#E7E8EB;
  }

.st3 {
  fill:none;
  }

.st4 {
  fill:#F09549;
  }

.st5 { fill:#5C6776;
}
